.app .lists .it{
  background-color: #F6F1F1;
}

.home{
  display: flex;
  position: fixed;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  background-color: #AFD3E2;
  border-radius: 50px 50px 0 0;
  padding: 2px;
}

.home a{
  text-decoration: none;
  color: #000000;
}

.home a:hover{
  text-decoration: underline;
  color: #146C94;
}

.home div{
  display: flex;
  justify-content: center;
  color: #000000;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  transition: all 3000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;
  will-change: transform;
}

.home div:hover{
  color: #146C94;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg) scale3d(1.1, 1.1, 1.1);
  color: #146C94;
}

.city{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.city input{
  padding: 26px;
  background-color: #F7F7F7;
  border-radius: 50px;
  width: 80%;
  margin: 25px;
  border: 2px solid #146C94;
}

.city input:hover{
  background-color: #EEEEEE;
}

.large{
  background-color: #d9eef6;
  border-radius: 50px;
  width: 80%;
  height: 600px;
  margin: 80px;
  border: 2px solid #146C94;
}

.gend{
  display: flex;
  justify-content: center;
}

.gen{
  border: 2px solid #146C94;
  background-color: #AFD3E2;
  border-radius: 50px;
  padding-left: 30px;
  padding-right: 30px;
  color: #000000;
}

.gen:hover{
  color: #146C94;
  transform: scale(1.1);
  transition: 0.3s;
}

.generate{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.responce{
  margin: 40px;
  font-size: 120%;
}